# Scraping first 10 Jobs data from naukri.com by Selenium

In [161]:
import selenium
import pandas as pd
from selenium import webdriver

In [196]:
driver  = webdriver.Chrome("chromedriver.exe")

In [197]:
url = 'https://www.naukri.com/'
driver.get(url)

In [199]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [200]:
search_job.send_keys('Data Analyst')

In [201]:
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [202]:
search_button = driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [203]:
job_title = []
job_location = []
company_name = []
Experience = []

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_title.append(i.text)
job_title[:10]

['Business Data Analyst - MIS & Reporting',
 'Senior Data Analyst - Data Lineage',
 'Data Analyst - Informatica MDM',
 'Data Analyst',
 'Data Analyst',
 'Excel VBA Jobs Bangalore | VBA data analyst Jobs',
 'Data Analyst (2positions)//immediate Joiners//bangalore',
 'Business/Data Analyst - SSE/LA',
 'Business Data Analyst',
 'Data Analyst']

In [204]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_name.append(i.text)
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in location_tags:
    job_location.append(i.text)

Experince_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in Experince_tags:
    Experience.append(i.text)

In [205]:
job_results = pd.DataFrame()
job_results['Job_Profile']=job_title[:10]
job_results['Company']=company_name[:10]
job_results['Location']=job_location[:10]
job_results['Experience_required']=Experience[:10]
job_results

,Job_Profile,Company,Location,Experience_required
0,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,"Mumbai, Bangalore/Bengaluru",3-8 Yrs
1,Senior Data Analyst - Data Lineage,Opex Global Services,Bangalore/Bengaluru,5-10 Yrs
2,Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bangalore/Bengaluru,6-9 Yrs
3,Data Analyst,AG Technologies pvt Ltd,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",0-2 Yrs
4,Data Analyst,AG Technologies pvt Ltd,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",0-2 Yrs
5,Excel VBA Jobs Bangalore | VBA data analyst Jobs,Mind Circus Innovation,"Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru",0-1 Yrs
6,Data Analyst (2positions)//immediate Joiners//...,Tech Mahindra Ltd.,Bangalore/Bengaluru,4-8 Yrs
7,Business/Data Analyst - SSE/LA,CGI Information Systems and Management Consult...,Bangalore/Bengaluru,2-5 Yrs
8,Business Data Analyst,"dotSolved India Pvt., Ltd.","Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",9-13 Yrs
9,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-5 Yrs

# Scraping first 10 Jobs data from naukri.com with full description by Selenium

In [206]:
job_Description = []
urls =[]
for i in title_tags:
    urls.append(i.get_attribute('href'))
urls

['https://www.naukri.com/job-listings-business-data-analyst-mis-reporting-intertrust-group-mumbai-bangalore-bengaluru-3-to-8-years-270121001879?src=jobsearchDesk&sid=16242091197818000&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-data-lineage-opex-global-services-bangalore-bengaluru-5-to-10-years-070621904965?src=jobsearchDesk&sid=16242091197818000&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-analyst-informatica-mdm-shell-india-markets-private-limited-bangalore-bengaluru-6-to-9-years-140621906532?src=jobsearchDesk&sid=16242091197818000&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-analyst-ag-technologies-pvt-ltd-noida-kolkata-hyderabad-secunderabad-pune-ahmedabad-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-0-to-2-years-190621603270?src=jobsearchDesk&sid=16242091197818000&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-analyst-ag-technologies-pvt-ltd-noida-kolkata-hyderabad-secunderabad-pune-ahmedabad-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-0-to-2-years-190621003268?src=jobsearchDesk&sid=16242091197818000&xp=5&px=1',
 'https://www.naukri.com/job-listings-excel-vba-jobs-bangalore-vba-data-analyst-jobs-mind-circus-innovation-mysore-mysuru-coimbatore-bangalore-bengaluru-0-to-1-years-140621006524?src=jobsearchDesk&sid=16242091197818000&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-analyst-2positions-immediate-joiners-bangalore-tech-mahindra-ltd-bangalore-bengaluru-4-to-8-years-100621005875?src=jobsearchDesk&sid=16242091197818000&xp=7&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-sse-la-cgi-information-systems-and-management-consultants-bangalore-bengaluru-2-to-5-years-160621908825?src=jobsearchDesk&sid=16242091197818000&xp=8&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-dotsolved-india-pvt-ltd-chennai-bangalore-bengaluru-mumbai-all-areas-9-to-13-years-110621005895?src=jobsearchDesk&sid=16242091197818000&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-analyst-myntra-designs-pvt-ltd-bangalore-bengaluru-3-to-5-years-090621901095?src=jobsearchDesk&sid=16242091197818000&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-analyst-myntra-designs-pvt-ltd-bangalore-bengaluru-3-to-8-years-080621910502?src=jobsearchDesk&sid=16242091197818000&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-analyst-disha-consultant-pune-chennai-jaipur-bangalore-bengaluru-2-to-4-years-140621501222?src=jobsearchDesk&sid=16242091197818000&xp=12&px=1',
 'https://www.naukri.com/job-listings-rc-hia-data-analyst-a2-pricewaterhouse-coopers-private-limited-bangalore-bengaluru-4-to-6-years-150621500535?src=jobsearchDesk&sid=16242091197818000&xp=13&px=1',
 'https://www.naukri.com/job-listings-procurement-data-analyst-schneider-electric-private-limited-bangalore-bengaluru-1-to-3-years-140621005854?src=jobsearchDesk&sid=16242091197818000&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-analyst-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-090621907268?src=jobsearchDesk&sid=16242091197818000&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-analyst-data-consultant-various-levels-senior-mid-junior-dvsum-india-private-limited-bangalore-bengaluru-5-to-10-years-100621003028?src=jobsearchDesk&sid=16242091197818000&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16242091197818000&xp=17&px=1',
 'https://www.naukri.com/job-listings-sr-data-analyst-1-ihs-markit-bangalore-bengaluru-3-to-6-years-170621500502?src=jobsearchDesk&sid=16242091197818000&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-analyst-sr-data-analyst-sql-work-from-home-naukri-employer-services-bangalore-rural-1-to-6-years-180621005009?src=jobsearchDesk&sid=16242091197818000&xp=19&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-eze-castle-integration-services-formerly-alphaserve-technologies-hyderabad-secunderabad-bangalore-bengaluru-6-to-11-years-130621001026?src=jobsearchDesk&sid=16242091197818000&xp=20&px=1']

In [207]:
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [210]:
import time
for i in urls[0:10]:
    driver.get(i)
    time.sleep(3)
    delay =20
    WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.CLASS_NAME,'dang-inner-html')))
    description_tags = driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
    job_Description.append(description_tags[0].text.replace('\n',' '))

TimeoutException: Message:

In [211]:
job_results['Job_Description']=job_Description[:10]
job_results

,Job_Profile,Company,Location,Experience_required,Job_Description
0,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,"Mumbai, Bangalore/Bengaluru",3-8 Yrs,Business Title/Designation - Senior Associate ...
1,Senior Data Analyst - Data Lineage,Opex Global Services,Bangalore/Bengaluru,5-10 Yrs,Experience - 5 yrs To 10yrs Requirement detai...
2,Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bangalore/Bengaluru,6-9 Yrs,The Role Typically: • Manages key elements of ...
3,Data Analyst,AG Technologies pvt Ltd,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",0-2 Yrs,Roles and Responsibilities Graduate in Compute...
4,Data Analyst,AG Technologies pvt Ltd,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",0-2 Yrs,Roles and Responsibilities Graduate in Compute...
5,Excel VBA Jobs Bangalore | VBA data analyst Jobs,Mind Circus Innovation,"Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru",0-1 Yrs,We are looking for female candidates freshers ...
6,Data Analyst (2positions)//immediate Joiners//...,Tech Mahindra Ltd.,Bangalore/Bengaluru,4-8 Yrs,Business Title/Designation - Senior Associate ...
7,Business/Data Analyst - SSE/LA,CGI Information Systems and Management Consult...,Bangalore/Bengaluru,2-5 Yrs,Experience - 5 yrs To 10yrs Requirement detai...
8,Business Data Analyst,"dotSolved India Pvt., Ltd.","Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",9-13 Yrs,The Role Typically: • Manages key elements of ...
9,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-5 Yrs,Roles and Responsibilities Graduate in Compute...

In [212]:
driver.close()

# Scraping by Using Filter

In [176]:
driver  = webdriver.Chrome("chromedriver.exe")

In [177]:
url = 'https://www.naukri.com/'
driver.get(url)

In [178]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

In [179]:
search_button = driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [184]:
filter_location = driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
filter_location.click()

In [182]:
filter_salary = driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
filter_salary.click()

In [185]:
job_title = []
job_location = []
company_name = []
Experience = []

title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_title.append(i.text)
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_name.append(i.text)
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in location_tags:
    job_location.append(i.text)

Experince_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in Experince_tags:
    Experience.append(i.text)

In [186]:
job_results = pd.DataFrame()
job_results['Job_Profile']=job_title[:10]
job_results['Company']=company_name[:10]
job_results['Location']=job_location[:10]
job_results['Experience_required']=Experience[:10]
job_results

,Job_Profile,Company,Location,Experience_required
0,Data analytics / Data scientist intern (work f...,TalkValley LLC,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",0-5 Yrs
1,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),New Delhi,0-5 Yrs
2,Data Scientist,Fractal Analytics,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs
3,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
4,Data Scientist,Milliman India Pvt Ltd,"Gurgaon/Gurugram, Delhi / NCR",2-5 Yrs
5,Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,Noida,3-8 Yrs
6,Data Scientist - Machine Learning/NLP,TalPro,Gurgaon/Gurugram,2-4 Yrs
7,Junior Data Scientist,R Systems International Ltd.,Noida(Sector-59 Noida),3-5 Yrs
8,We are hiring- Data Scientist +Python- Noida,RANDSTAD INDIA PVT LTD,"Noida, Gurgaon/Gurugram, Delhi / NCR",4-7 Yrs
9,Data Scientist,Evalueserve.com Pvt. Ltd,Gurgaon/Gurugram,4-7 Yrs

In [ ]:
driver.close()

# scrape data for first 10 job results from glassdoor.com

In [214]:
driver  = webdriver.Chrome("chromedriver.exe")

In [215]:
# Mentioned url in assignment has no job search option unless we login hence I have chamged the url
url = 'https://www.glassdoor.co.in/Job/india-jobs-SRCH_IL.0,5_IN115.htm'
driver.get(url)

In [216]:
search_job = driver.find_element_by_id('sc.keyword')
search_job.send_keys('Data Scientist')

In [217]:
search_location = driver.find_element_by_id('sc.location')
search_location.send_keys('-Noida')

In [218]:
from selenium.common.exceptions import ElementClickInterceptedException

search_button = driver.find_element_by_xpath("//button[@type='submit']")
search_button.click()

try:
    driver.find_element_by_class_name("selected").click()
except ElementClickInterceptedException:
    pass

time.sleep(.1)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".selected"}
  (Session info: chrome=91.0.4472.106)

In [219]:
company_name = []
jobposted_days = []
company_rating = []


company_tags = driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink' or @class='react-job-listing css-7x0jr eigr9kq3']/span")
for i in company_tags:
    company_name.append(i.text)
jobposted_days_tags = driver.find_elements_by_xpath("//div[@data-test='job-age']")
for i in jobposted_days_tags:
    jobposted_days.append(i.text) 
    
job_listing = driver.find_elements_by_xpath("//li[@class='react-job-listing css-wp148e eigr9kq3']")
for job in job_listing:
    job.click()
    time.sleep(1)
    try:
        company_rating.append(driver.find_element_by_xpath("//span[@data-test='detailRating']").text)
    except NoSuchElementException:
        company_rating.append("No Rating")

In [220]:
job_results = pd.DataFrame()
job_results['Company']=company_name[:10]
job_results['Jobposted_days']=jobposted_days[:10]
job_results['Company_rating']=company_rating[:10]
job_results

           Company Jobposted_days Company_rating
0          Bechtel            20d            3.1
1            CSTEP             5d            3.9
2         Randstad             2d      No Rating
3            Jubna             4d            3.8
4            Crowe            17d            3.0
5    Data Patterns             5d            3.8
6          WishFin            24h      No Rating
7         xtLytics             4d      No Rating
8   Biz2Credit Inc            26d            3.9
9  Dürr Somac GmbH             8d      No Rating

In [230]:
driver.close()

# Scraping Salary data from glassdoor.co.in

In [231]:
driver  = webdriver.Chrome("chromedriver.exe")

In [257]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [261]:
search_job = driver.find_element_by_id('KeywordSearch')
search_job.send_keys('Data Scientist')

In [262]:
from selenium.webdriver.common.keys import Keys

search_location = driver.find_element_by_id('LocationSearch')
search_location.send_keys(Keys.CONTROL + "a")
search_location.send_keys(Keys.DELETE)
search_location.send_keys('NOIDA')

In [263]:
from selenium.common.exceptions import ElementClickInterceptedException

search_button = driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")


try:
    search_button.click()
except ElementClickInterceptedException:
    pass

time.sleep(2)